.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center-space-between {
    align-items: center;
    justify-content: space-between;
}

.flex-center {
    align-items: center;
}

.flex-end {
    justify-content: end;
}

.flex-strech-center {
    align-items: stretch;
    justify-content: center;
}

.flex-none {
    flex: none;
}

.flex-grow {
    flex: 1;
}