$white: #fffefe;

$black-25: rgb(25, 25, 25);
$black-55: rgb(57, 57, 57);
$black-100: rgb(102, 102, 102);
$black-120: rgb(122, 122, 122);
$black-130: rgb(132, 132, 132);
$black-155: rgb(155, 155, 155);
$black-180: rgb(180, 185, 188);
$black-200: rgb(204, 204, 204);
$black-230: rgb(230, 234, 235);
$black-245: rgb(245, 245, 245);

$blue: rgb(85, 149, 223);